$color-primary: #7ed56f;
$color-secondary: #55c57a;
$color-dark-green: #137957;
$color-white: rgb(255, 255, 255);
$color-black: black;
$color-black-light: rgba(0, 0, 0, 0.3);
$lightgray: lightgray;

// button colors
$color-red: red;
$color-purple: purple;
$color-yellow: yellow;
// Grid variables
$grid-width: 114rem;
$grid-gutter: 8rem;
$horizontal-gutter: 7rem;
